* {
  font-family: sans-serif;
}

.output-area {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 30px;
}

.input-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.input-btn {
  font-size: 2rem;
  height: 5rem;
  padding: 1rem;
}

.input-btn:nth-child(2),
.input-btn:last-child {
  grid-column: span 2;
}

#container {
  margin-top: 1rem;
}

#calculate-btn,
#change-btn,
#generate-btn {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.7rem 2rem;
  margin-bottom: 4rem;
}

#output-container {
  background-color: white;
  border: 4px solid black;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

#age-container {
  margin-top: 1rem;
}

#repeat-input {
  width: 50%;
}

#yes-or-no {
  display: flex;
  justify-content: center;
}

#random {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  border: 4px solid black;
  border-radius: 6rem;
  width: 7rem;
  height: 5rem;
  background-color: white;
  box-shadow: 5px 5px black;
}

#random:hover {
  cursor: pointer;
  box-shadow: 2px 2px;
}

#random i {
  font-size: 3rem;
}

#random p {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 600px) {
  #output-container {
    padding: 1.5rem;
    margin-top: 4rem;
  }
}
